services:
  web:
    container_name: automacoes_c2tech_web
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      PORT: "3000"
    ports:
      - "${PORT:-3010}:3000"
    restart: unless-stopped
